body {
  background-image: url("img.jpg");
  background-size: cover;
}

#test {
  border: #56e2e4 3px solid;
  padding: 10px 40px 40px 40px;
  width: 80%;
  background-color: #b1dbdc;
  text-align: center;
}

.clearfix {
  overflow: auto;
}

#startButton {
  background-color: lightblue;
  text-align: center;
}
