body {
  background-image: url("img.jpg");
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-weight: bold;
}

#scoreBox {
  color: white;
  text-align: center;
}
#test,
#rules,
#question1,
#question2,
#question3,
#question4 {
  border: #56e2e4 3px solid;
  padding: 10px 40px 40px 40px;
  width: 100%;
  background-color: #48cacd;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

.clearfix {
  overflow: auto;
}

#startButton {
  background-color: black;
  text-align: center;
}
